.main {
    display: flex;
    justify-content: center;
    align-items: center;
    


}

.main .container {
    width: 100rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 8rem;
    margin-top: 7.1rem;

}

.main .col-1 {
    background-color: rgb(250, 147, 83);
    width: clamp(15rem, 22rem + 20vw, 60rem);
    max-width: 100%;
    height: 45rem;
    display: flex;
    border-radius: 1rem 16rem 1rem 1rem;	
    clip-path: polygon(0% 0%, 82% 0.5%, 100% 100%, 0% 100%);
    display: flex;
    
   
    
}

.main img {
    width: clamp(10rem, 15rem + 15vw, 30rem);
    margin-left: 5rem;



}

.main .col-2 {
   max-width: clamp(15rem, 20rem + 20vw, 37rem);
   


}
   
.col-2 h2{
    font-size: clamp(1.3rem, 1.5rem + 20vw, 3rem);
    font-family: 'Edu VIC WA NT Beginner', cursive;
    color: rgb(163, 161, 161);
    width: clamp(10rem, 15rem + 20vw, 30rem);
    font-weight: normal;
} 



.col-2 p {
 
    font-weight: 500;
    margin-top: 2rem;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    font-size: clamp(1.4rem, 1.4rem + 1vw, 2.5rem);
}
.section{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }
.col-3{
    
    margin-top: 10rem;
    width: clamp(15rem, 25rem + 10vw,50rem);
}
.col-3 h2 p{
    
    display: flex;
    flex-direction: column;
}
.col-3 h2 {
    margin-right: 20rem;
    font-weight: 100;
    width: clamp(10rem, 15rem + 20vw, 30rem);
    font-size: clamp(1.5rem, 1.5rem + 20vw, 3rem);
    font-family: 'Edu VIC WA NT Beginner', cursive;
    color: rgb(158, 155, 155);
}
.col-3 p {
    font-weight: 500;
    margin-top: 2rem;
    max-width: 30rem;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    font-size: clamp(1.4rem, 1.4rem + 1vw, 3rem);
}

 .col-4 {
    
    max-width: 30rem;
    margin-top: 0rem;
    object-fit: cover;

   
 }
 .col-4 img{
   max-width: 100%;
 }
 .button{
    display: flex;
    margin-top: 5rem;
}
.button .input{
    border: none;
    padding:1.5rem  clamp(1rem, 1.5rem + 10vw, 5rem);
    text-decoration: none;
    font-size: clamp(.7rem, .8rem + 1vw, 1.4rem);
    border-radius: .8rem;
    font-weight: 800;
    background-color: rgb(250 95 1);
    color: #ffffff;
    margin: auto;
    transition: 400ms;
}
.input:hover{
    background-color: rgb(245, 133, 63);
}
