* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

aside {
   
   width: 100%;
    margin-top: 1rem;
    height: clamp(1.5rem, 3.0rem + 5vw, 6.0rem);
    background-color: rgb(86 34 147);
    color: #ffffff;
    display: flex;
    justify-content: space-around;
     position: fixed;
    align-items: center;
    z-index: 99;
   


}
.ativacor{
   background-color:rgb(72, 5, 150);;
    
}

aside #container {
   
    display: flex;
    align-items: center;
    gap: 20rem;
    
    

}

aside img {
    
    max-width: clamp(5rem, 8rem + 5vw, 35rem);
    height: clamp(3rem, 5.0rem + 5vw, 8.5rem);
    background-color: aliceblue;
    border-radius: 20px;
}

.timehora {

    font-size: clamp(0.9rem, .7rem + 1vw, 2.0rem);
    align-items: center;
    font-weight: 800;
   
}

aside .a {
    text-decoration: none;
    border: none;
    padding: clamp(.5rem, 0rem + 1vw, 1.5rem);
    font-size: clamp(.7rem, .8rem + 1vw, 1.4rem);
    border-radius: .8rem;
    font-weight: 800;
    background-color: rgb(250 95 1);
    color: #ffffff;
    font-weight: 800;
    transition: 400ms;

}



.a:hover {
    background-color: rgb(241, 148, 90);
}
@media (max-width: 840px){
    aside #container{
        display: flex;
        gap: 10rem;
    } 
}
@media (max-width: 600px){
    aside #container{
        display: flex;
        gap: 5rem;
    } 
}
@media (max-width: 460px){
    aside #container{
        display: flex;
        gap: 0.5rem;
    } 
}